@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

.prioridad {
  font-size: 0.9em;
  line-height: 0.7;
}

.resaltada {
  color: $red !important;
}

.fueralimites {
  pointer-events: none;
}

.oi {
  color: $blue;
  &:hover{
    cursor: pointer;
  }
}
